[project]
name = "postmodern"
version = "0.1.0"
description = "Example monorepo using uv"
readme = "README.md"
requires-python = ">=3.10"
dependencies = []

[tool.uv.workspace]
members = ["libs/*", "apps/*"]
